@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  font-family: Roboto;
  height: 100%;
  width: 100%;
}